<html>
    <form method="POST" action="/login">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname">
    <input type="submit">
    </form>
</html>