<html>
    <form method="POST" action="/login">
    email:<br>
    <input type="text" name="email"><br>
    password:<br>
    <input type="password" name="password">
    <input type="submit">
    </form>
</html>