<html>
    <form method="POST" action="/login">
    First name:<br>
    <input type="text" name="email"><br>
    Last name:<br>
    <input type="text" name="password">
    <input type="submit">
    </form>
</html>