<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <form method="POST" action="/register">
    email:<br>
    <input type="text" name="email"><br>
    password :<br>
    <input type="password" name="password">
    <input type="submit">
    </form>
</html>